.form_conatianer {
    margin: 0 auto;
    width: 100%;
    max-width: 70%;
}

.form_container {
    padding: 30px;

}

.form_first_name_label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form_first_name_label label {
    margin-bottom: 10px;
}

.form_first_name_label input {
    padding: 0.25rem;
    border-width: 2px;
    height: 23px;
}

.form_body div {
    margin-bottom: 20px;
}


.submit_container {
    display: flex;
    justify-content: flex-end;
}

.btn_ {
    background: #00B3B0;
    color: #ffffff;
    padding: .6rem;
    /* border-radius: 8px; */
    border: 1px solid #00B3B0;
    cursor: pointer;
}

/* #img {
    background: #f64900;
    color: #ffffff;
    padding: .6rem;
    border: 1px solid #f64900;

} */


input[type=file]::file-selector-button {
    background: #00B3B0;
    color: #ffffff;
    /* padding: .6rem; */
    border: 1px solid #00B3B0;
}


.img-file {
    cursor: pointer;
    background: #00B3B0;
    color: #ffffff;
    border: 1px solid #00B3B0;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}